<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">
    <!-- 허용 권한 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:appComponentFactory="androidx"
        android:configChanges="orientation|screenSize"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true"
        tools:replace="android:appComponentFactory"
        tools:targetApi="p">

        <service
            android:name=".Chat_test.socketService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Chat_test.noticeService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".Chat_test.MyService3"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".Chat_test.RemoteService"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".Chat_test.ChatList.chatListActivity" />
        <activity android:name=".Chat_test.chatRoomActivity" />
        <activity android:name=".Chat_test.chatRoom2Activity" />
        <activity android:name=".Chat_test.chatRoom3Activity" />
        <activity android:name=".mypageFriend.FriendReply.StoryReplyActivity" />
        <activity android:name=".mypageFriend.FriendInfoActivity" />
        <activity android:name=".mypageFriend.FriendView.StoryViewActivity" />
        <activity android:name=".mypageFriend.FriendView.StoryViewUpdateActivity" />
        <activity android:name=".mypageFriend.FriendView.StoryViewDeleteActivity" />
        <activity
            android:name=".Recipe_select.EditActivity"
            android:label="Add New"
            android:launchMode="singleTask"
            android:theme="@style/EditorTheme"> <!-- 에디터 테마 -->

        </activity>
        <activity android:name=".cookStargram.CookTalkActivity" />
        <activity android:name=".mypage.MypageActivity" />
        <activity android:name=".Recipe_select.subscribeActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Home.HomeActivity" />
        <activity
            android:name=".cookStargram_reply.ReplyViewActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".mypage_ViewBookmark.ViewActivity" />
        <activity android:name=".mypage_ViewBookmark.ViewUpdateActivity" />
        <activity android:name=".mypage_ViewBookmark.ViewDeleteActivity" />
        <activity android:name=".mypage_bookmark.BookmarkGridActivity" />
        <activity android:name=".cookStargram.DeleteActivity" />
        <activity android:name=".cookStargram.WriteActivity" />
        <activity android:name=".cookStargram.UpdateActivity" />
        <activity android:name=".mypage.TakeProfileActivity" />
        <activity android:name=".mypage.InfoModifyActivity" />
        <activity android:name=".mypage.TermofuseActivity" />
        <activity android:name=".mypage.SettingActivity" /> <!-- 처음액티비티로 나오게 설정 -->
        <activity android:name=".login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".login.RegisterActivity" /> <!-- 내부저장소에 있는파일을 다른어플이 접근 할수있게해주는것 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.myapplication"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>